:root {
	--dark-cyan: hsl(158, 36%, 37%);
	--very-dark-cyan: hsl(159, 71%, 19%);
	--cream: hsl(30, 38%, 92%);
	--very-dark-blue: hsl(212, 21%, 14%);
	--dark-grayish-blue: hsl(228, 12%, 48%);
	--white: hsl(0, 0%, 100%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	color: var(--dark-grayish-blue);
	background-color: var(--cream);
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4rem;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.card {
	margin: 2em 1em;
	border-radius: 12px;
	overflow: hidden;
	max-width: 350px;
	background-color: var(--white);
}

.card-img-mobile {
	width: 100%;
	height: auto;
}

.card-img-desktop {
	display: none;
}

.card-body {
	padding: 1.8em;
}

header {
	margin-bottom: 1em;
	font-size: 1.2rem;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.card-headline,
.card-main-price {
	font-family: 'Fraunces', serif;
}

.card-headline {
	color: var(--very-dark-blue);
	font-size: 3.2rem;
	line-height: 36px;
}

.card-paragraph {
	margin-top: 1em;
	line-height: 24px;
}

.card-prices,
.button {
	display: flex;
}

.card-prices {
	margin-top: 1.6em;
	margin-bottom: 1.2em;
	gap: 1.4em;
}

.card-main-price {
	color: var(--dark-cyan);
	font-size: 3.5rem;
}

.card-line-th-price {
	line-height: 43px;
	text-decoration: line-through;
}

.button {
	justify-content: center;
	gap: 0.8em;
	padding: 1em 0;
	background-color: var(--dark-cyan);
	border-radius: 10px;
	font-weight: bold;
}

.button:hover {
	background-color: var(--very-dark-cyan);
}

.btn-text {
	color: var(--white);
}

@media (min-width: 768px) {
	.card {
		display: flex;
		max-width: 640px;
	}

	.card-left {
		width: 50%;
	}

	.card-right {
		width: 50%;
	}

	.card-img-mobile {
		display: none;
	}

	.card-img-desktop {
		display: block;
		width: 100%;
	}

	.card-body {
		padding: 2.2em;
	}

	header {
		margin-bottom: 2em;
	}

	.card-headline {
		font-size: 3.8rem;
	}

	.card-paragraph {
		font-size: 1.6rem;
		line-height: 30px;
	}

	.card-prices {
		margin-top: 1.4em;
		margin-bottom: 1.7em;
	}
}
